<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <%= image_tag 'user.png', class: 'profile_img' %>
        </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Manuel Elias Negrete Garrido</h5>
                <p class="card-text">Direccion: Ignacio Domeycko #1135, Talagante </p>
               <p class="card-text"><small class="text-muted">Telefono +569 47462020</small></p>
               
                <p class="card-text"><small class="text-muted">Instagram Pf_Manuel_Negrete</small>
                </p>
            </div>
         </div>
    </div>
</div>